<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.junk.settings" >

    <original-package android:name="com.junk.settings" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    
    <application android:label="@string/app_label"
            android:icon="@drawable/junk_launcher_settings"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo"
            android:uiOptions="splitActionBarWhenNarrow"
            android:hardwareAccelerated="true">

        <!-- Settings -->

        <activity android:name="JunkSettings"
                android:label="@string/app_label"
                android:taskAffinity="com.junk.settings"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.junk.settings.JUNK_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SubSettings"
                android:taskAffinity="com.junk.settings"
                android:parentActivityName="JunkSettings">
        </activity>


 
        
        <activity android:name="CustomBackupRestore"
            android:label="Backup Your Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	   
        
        <activity android:name="CustomThemeSettings"
            android:label="Theme Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	    
        

        <activity android:name="CustomClockSettings"
            android:label="Clock Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	
	
        <activity android:name="CustomBatteryIconSettings"
            android:label="Battery Icons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="CustomBatterySettings"
            android:label="Battery Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="CustomChargeSettings"
            android:label="Charge Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="CustomPulldownSettings"
            android:label="Status Bar Pulldown Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	
        <activity android:name="CustomToggleSettings"
            android:label="Pulldown Toggle Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	

        
        <activity android:name="CustomNavBarSettings"
            android:label="Navigation Bar Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	
        
        <activity android:name="CustomQuietTimeMainSettings"
            android:label="Notification Quiet Time Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	
        
        <activity android:name="JunkSettings$CustomQuietTimeSettingsActivity"
            android:label="Quiet Time Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.junk.settings.CUSTOM_QUIET_TIME_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.junk.settings.FRAGMENT_CLASS"
                android:value="com.junk.settings.CustomQuietTimeSettings" />
        </activity>
        
        <activity android:name="CustomLedSettings"
            android:label="LED Notification Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	
        

         <activity android:name="CustomQuickColorSettings"
            android:label="Quick Color Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>	
  
         
       <activity android:name="CustomColorGroups"
            android:label="Color Groups">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>          
        
        <activity android:name="CustomColorSettings"
            android:label="Color Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        

        <activity android:name="JunkSettings$CustomColorSettingsActivity"
            android:label="Color Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.junk.settings.CUSTOM_COLOR_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.junk.settings.FRAGMENT_CLASS"
                android:value="com.junk.settings.CustomColorSettings" />
        </activity>     
        
    </application>
</manifest>
